
{% extends 'main.html' %}
{% load static %}

{% block content %}
{% if perms.admin.access_admin_area %}

        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <h1> Area Administrativa</h1>

        </div>
        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <a href="/usuario/formulario" class="btn btn-secondary" > Cadastrar Cliente</a>
        </div>
        <div class="col-8 m-auto pt-3 pb-2 text-center">
            <form method="GET">
                <input type="text" id="search" name="search" class="form-control" placeholder="Buscar">
            </form>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
        <tbody>
        {% for c in cli %}
        <tr>
            <th>{{c.id}}</th>
            <td>{{c.nome}}</td>
            <td>{{c.email}}</td>
            <td> {{c.telefone}}</td>
            <td>
                <a href="/usuario/editCliente/{{c.id}}/" class="btn btn-primary">Editar </a>
                <a href="/usuario/view/{{c.id}}/" class="btn btn-dark">Visualizar</a>
                <a href="/usuario/deleteCliente/{{c.id}}/" class="btn btn-danger btnDel">Deletar</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <!--
    <div class="pagination">
        {% if cli.has_previous %}
            <a href="?page={{cli.previous_page_number}}"> < </a>
        {% endif %}

        {{ cli.number}}

        {% if cli.has_next %}
            <a href="?page={{cli.next_page_number}}"> > </a>
        {% endif %}
    -->
    </div>
    {% load static %}
    <script src="{% static 'js/javascript.js' %}"></script>
{% else %}
        <h1>Acesso apenas para perfil <b>admin</b></h1>
        <img src="{% static 'img/alerta.png' %}"  width="600"><br><br>
{% endif %}
{% endblock %}




