{% extends 'main.html' %}

{% block content %}
  <form name="form-painel" id="formPainel" method="POST" action="/changePassword/">
    <div class="col-6 mt-4 m-auto">
      {% if msg %}
      <div class="alert {{class}}">
        {{msg}}
      </div>

      {% endif %}
    </div>
      {% csrf_token %}
      <h3>Alterar Senha</h3>
      Nome de Usuario<input class="form-control mt-4" type="text" name="user" id="user" placeholder="Nome de Usuario">
      <br>Nova Senha<input class="form-control mt-4" type="password" name="password" id="password" placeholder="Nova Senha">
      
      <input class="btn btn-dark mt-4" type="submit" value="Registrar">
  </form>
{% endblock %}